body
{
font-family: Helvetica, sans-serif;
font-size:14px;
padding:0px;
margin: 0px;
}
.editbox
{
display:none
}
td
{
padding:7px;
border-left:1px solid #fff;
border-bottom:1px solid #fff;
}
table{
border-right:1px solid #fff;
padding-left: 20px;
padding-right: 20px;
padding-top: 10px;
padding-bottom: 10px; 
}
.editbox
{
font-size:14px;
width:29px;
background-color:#ffffcc;

border:solid 1px #000;
padding:0 4px;
}
.edit_tr:hover
{
background:url(edit.png) right no-repeat #80C8E5;
cursor:pointer;
}
.edit_tr
{
background: none repeat scroll 0 0 #D5EAF0;
}
th
{
font-weight:bold;
text-align:left;
padding:7px;
border:1px solid #fff;
border-right-width: 0px;
}
.head
{
background: none repeat scroll 0 0 #91C5D4;
color:#00000;

}

.dailysales
{
   position: relative;
   border: 1px solid red;
   border-radius: 6px; 
   padding: 10px;
   left: 70px; 
   bottom: 50px; 
   width: 140px; 
   font-size: 1.2em;

}
